<%- include('partials/header'); %>
	<div>
		<h1>Search for a movie </h1>
	</div>
	<form action="/results" method="get">
		<input type="text" name="movie">
		<button type="submit">Search</button>
	</form>
<%- include('partials/footer'); %>